.content {
    display: flex;
    flex-direction: column;

    width: 100%;
    padding: 5px;
}

.content a {
    outline: none;
    text-decoration: none;
    color: burlywood;
}

.headerText {
    padding: 8px;
    margin: 0;
    background-color: burlywood;
    border-radius: 10px;
}

.headerText h1, h3 {
    color: white;
}

.headerText p {
    color: white;
}

.projects {
    padding: 5px;
    display: flex;
    flex-direction: row;
}

.projectItem {
    padding: 5px;
}

.workExperience {
    padding: 5px;
    margin: 0;
}

.education {
    padding: 5px;
    margin: 0;
}


.githubInfo {
    text-align: left;
    padding: 5px;
    margin: 0;
}

.githubInfo img {
    width: 100%;
}

.projectItem {
    margin: 0;
}

.burger {
    width: 270px;
}

.todo {
    width: 452px;
}

.counter {
    width: 360px;
}

@media screen and (max-width: 480px) {
    .githubInfo {
        display: none;
    }
}