.wrap {

}

.head {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
  background-color: darkslategrey;
}

.radioContainer {
  width: 60px;
  display: flex;
}

.buttonPrint {
  width: 85px;
}
